<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#map-modal" style="cursor: pointer;"><i class="fas fa-map-marker-alt"></i> Universidad Gerardo Barrios, Santa Maria, Usulután</a>
        </li>
        <li class="nav-item">
          <%= link_to "CDMYPE", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.conamype.gob.sv/" target="_blank">CONAMYPE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.ugb.edu.sv/" target="_blank">Universidad Gerardo Barrios</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
